.App{
	background-color: yellow;
	height: 100%;
	width: 100%;
	position: absolute;
	background: url('http://2.bp.blogspot.com/-ccV7gLfEyPc/UDn7XW7W4FI/AAAAAAAACTM/noWdkiDwWCk/s1600/HD+Birds+wallpaper+%25288%2529.jpg') no-repeat;
    background-size: 100%;
	color: white;
	font-size: 40px;
	 
}
li{
list-style-type: none;

}
li:hover{
	color: orange;
}
.menu{
	position: relative;
	height: 100px;
	width: 100%;
	background-color: black;
}
ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px;
	padding: 20px 20px;
}